* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
    /* color: #22092C; */
}

body {
    color: #ffffff;
  
    /* background-color: rgb(78, 78, 78); */
    background:#22092C ; 


}

/* navbarr */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {

    position: relative;
    font-size: 25px;
    height: 120px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    cursor: default;
    border-radius: 50%;
    animation: Slideright 1s ease forwards;

}



.navbar a {
    display: inline-block;
    font-size: 25px;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    animation: Slidetop .5s ease forwards;
}


.navbar a:hover {
    color: #0ef;
}

/* home */

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #22092C;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding: 150px 10% 0;
}


.home-content {
    max-width: 600px;
}

.home-content h3,
p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;



}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px, 0;
    color: #0ef;
    opacity: 0;
    animation: Slidebottom 1s ease forwards;
    animation-delay: .7s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 14px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.about-img img {
    width: 100%;
    padding-bottom: 1%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;

}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: centers;
    height: 100%;
    gap: 10rem;
    background: #22092C;
    background-position: center;
    background-size: cover;
    color: #ffffff;

}



.about-text {

    display: grid;
    justify-content: center;
    align-items: center;
}

.about-text h2,
h4,
span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-text {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    /* line-height: 100%; */
    margin-left: 110%;
    margin-bottom: 20px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text a {
    line-height: 20px;
}

.about-text h4 {
    line-height: 1.7rem;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4rem;
    

}

  
    
  

  

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 14px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    margin: auto;
}

.services {

    background:#22092C;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.services-list div {
    background-color: transparent;
    padding: 40px 20px;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #0ef, 1px 1px 40px #0ef;
}





    



   





 

.services-list div:hover {
    transform: translateY(-20px);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.sub-title {
    display: grid;
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    /* color:rgb(255, 255, 255) ; */


    /* letter-spacing: 1rem; */
    margin-top: 1%;
}

.container h1 span {
    color: #0ef;
}

.services-list {
 
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.read {

    display: inline-block;
    padding: 12px 28px;
    border-radius: 40px;
    background: #0ef;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.89;
    animation: Slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.read:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 100px cyan;

}

.container {
    padding: 90px;
}

.sub-title h2,
p {
    color: #0ef;
}

/* .bx bxl-css3 h2{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 110%;
} */






/* techincal skills */
.Technicals{
    background: #22092C; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
  color: #eee;
  font-size: 60px;
  animation: animation 1s ease forwards;
}
.Technical span{
    color: rgb(255, 255, 255);
    animation: span 1s ease forwards;
    font-size: 1.5em;
}
.me2{
font-size: 5.5rem;
    color: #0ef;
  }
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    margin: auto;
}

.language {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

.language-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: #fff;
    height: 60px;
}

.language-icon i {
    font-size: 2em;
}

.language h3 {
    text-align: center;
    margin: 10px 0;
    color: #000000;
 
}

.skill-bar {
    background-color: #eee;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 20px;
}

.skill-level {
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, #0ef, #081b29);
    transition: width 0.8s ease-in-out;
}

.language:hover .skill-level {
    width: 100%;
}

/* contact Form */

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin-top: 90px;
    padding-left: 30px;
    margin-left: 130px;
}
.contact-text{
    margin-left: 23px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;

}
.contact-text h4{
    line-height: 9rem;
}
.me{
    font-size: 5rem;
    color: #0ef;
}

/* .contact-text h2 span{
    color: #0ef;
} */
.about-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-text h2 {
    
    line-height: 0;
   
    width: 549px;
}
.contact-text h2 strong{
    color: white;
}

.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    list-style-type: none;
    margin-bottom: 10px;
    display: block;

}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{

    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef ;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform: 0.5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
    opacity: 0;
}
.contact-icons i:hover{

    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-from form{
    position: relative;
}
.contact-from form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

}

.contact-from textarea{
    resize: none;
    height: 220px;
}

.contact-from form .send{
    
    display: inline-block;
    padding: 14px 60px;
    border-radius: 40px;
    background: #0ef;
    font-size: 18px;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.89;
    animation: Slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    cursor: pointer;
}

.contact-from form .send:hover{
background: #0ef;
color: #081b29;
box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 100px cyan;
}
.last-text{
    background-color: #22092C;
    width: 100%;
}

.last-text p{
    width: 100%;    
    text-align: center;
    color: white   ;
    padding: 25px 0;
    /* background: #1a0523; */
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 70px;
}
.top{

    position: fixed;
    bottom: 2.1rem;
    right:2.1rem
}
.top i{
color: #000;
background: #0ef;
font-size: 20px;
padding: 10px;
border-radius: 0.5rem;
}


@keyframes animation {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes span {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes Slidetop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes Slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




@media screen and (max-width:431px) {
   
   .logo{
    display: none;
   }
    .about-text {
        margin-left: 287px;
    }
    .navbar a {
      
        font-size: 0.8rem;
        padding: 0px 9px;
       
    }
    .about{
        margin-left: -226px;
    }
    .sub-title{
        margin-left: 119px;
    }
    .services-list{
        width: 223%;
        margin-left: -22px;
    }
    .services-list div a {
        margin-left: 178px;
        margin-top: 61px;
    }
    
    .skills-container{
        width: 161%;
        margin-left: 20px;
    }
.language{
    margin-left: 24px;
}
.Technical span {
    margin-left: 257px;
    margin-top: 132px;

}
.Technical strong{
    color: white;
}

.contact {
    display: block;
    margin-top: 71px;
}
.contact-text h4{
    margin-top: 55px;
    font-size: 1.5rem;
    margin-left: 140px;
}
.contact-text p {
    font-size: 37px;
    line-height: 49px;
    margin-bottom: 2rem;
    width: 151%
}
.contact-text h2 {
    
    line-height: 0;
   
    width: 549px;
}
.contact-text h2 strong{
    color: white;
}


.contact-text{
    margin-left: -119px;
}
.contact-from form{
    margin-left: -123px;
}
.contact-from form input{
    width: 138vw;
}
.contact-from textarea{
    width: 138vw;
}
.last-text
{
    width: 159%;
}
}